
.logo-container {
  display: flex;
  justify-content: center;
}
.logo {
  width: 500px;
  height: 400px;
}

.title {
  background-color: var(--ion-color-dark);
  color: var(--ion-color-dark-contrast);
}

.button-container  {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
 
}
.button {
    background-color: var(--ion-color-dark);
    cursor: pointer;
    --width: 200%;
}

.container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
}

.content {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
}
