.content-question {
    text-align: center;
    top: 10%;
    
}

.content-question p {
  text-align: center;
}

.page {
     margin-top: 100px;
     justify-content: start !important;
}
.page .next {
    justify-content: end;
  
}

